<div class="container" style="margin-bottom: 200px;">  
  <div class="page-header">
    <h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Parâmetros</h1>      
  </div>
  <p>Visualizar parâmetros do sistema.</p> 
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Carteira beneficiário</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user-alt" style="margin-right:10px"></i>ANOREG - Associação dos Notários e Registradores de Ceará</h6>
      <p class="card-text">Bradesco 09 CC: 0112304-1<span class="badge bg-primary" style="margin-left:10px">Padrão</span></p>
      <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="card-link" style="float: right;">detalhes</a> 
      <div class="collapse" id="collapseExample" style="float: left;width: 100%;transition: all 0.4s ease 0s;margin-top:10px"> 
        <div class="card card-body">
          <div class="card-body">
            <p class="content_info" ><img src="https://s3.amazonaws.com/bole.to/assets/237.jpg"></p>
            <p class="content_info form-control" ><i class="fa fa-edit"></i>Situação<span>Ativa</span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>Nome da Carteira<span>Bradesco 09  CC: 0112304-1 </span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>CNPJ do Beneficiário<span>01.718.804/0001-93</span></p>
            <p class="content_info form-control" ><i class="fa fa-user-tie"></i>Nome do Gerente<span>Juliana</span></p>
            <p class="content_info form-control" ><i class="fa fa-user-cog"></i>Nome do Responsável<span>Helena Jácea Crispino Leite Borges</span></p>
            <p class="content_info form-control" ><i class="fa fa-at"></i>E-mail do Responsável<span>gust904@gmail.com</span></p>
            <p class="content_info form-control" ><i class="fa fa-mobile"></i>Celular do Responsável<span>85996862321</span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>Carteira<span>09 - Com Registro</span></p>
            <p class="content_info form-control" ><i class="fa fa-barcode"></i>Boleto Híbrido<span>Não</span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>Número da Agência<span>0564-9</span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>Número da Conta<span>0112304-1</span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>Código da Empresa<span>14719351341609443361</span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>Formato do arquivo remessa<span>CNAB 400</span></p>
            <p class="content_info form-control" ><i class="fa fa-calendar-check"></i>Data de homologação<span></span></p>
            <p class="content_info form-control" ><i class="fa fa-plug"></i>EDI<span>Não</span></p>
            <p class="content_info form-control" ><i class="fa fa-rocket"></i>Conexão com Web Service<span>Não</span></p>
            <p class="content_info form-control" ><i class="fa fa-sort-numeric-up-alt"></i>Último Nosso Número<span>9100000542</span></p>
            <p class="content_info form-control" ><i class="fa fa-sort-numeric-up-alt"></i>Último Sequencial da Remessa<span>12538</span></p>
            <p class="content_info form-control" ><i class="fa fa-calendar-alt"></i>Criado em<span>16/11/2021, 10:11 h</span></p>
            <p class="content_info form-control" ><i class="fas fa-umbrella-beach"></i>Permitir vencimento em fim de semana e feriado<span>Não</span></p>
            <p class="content_info form-control" ><i class="fa fa-lock"></i>Proteção por Senha<span>Não preencher (pegar valor padrão)</span></p>
            <p class="content_info form-control" ><i class="fa fa-map-pin"></i>Local de pagamento<span>Pagável em qualquer banco até a data de vencimento.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Mala direta • E-mails • Avisos • Notificações do sistema</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-at" style="margin-right:10px"></i>E-mail principal anoreg-ce</h6>
      <p class="card-text">Serviço sendgrid<span class="badge bg-primary" style="margin-left:10px">Padrão</span></p>
      <a data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2" class="card-link" style="float: right;">detalhes</a> 
      <div class="collapse" id="collapseExample2" style="float: left;width: 100%;transition: all 0.4s ease 0s;margin-top:10px"> 
        <div class="card card-body">
          <div class="card-body"> 
            <p class="content_info form-control" ><i class="fa fa-at"></i>Email<span>anoregce@anoregce.org.br</span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>Serviço<span>sendgrid - plano X</span></p>
            <p class="content_info form-control" ><i class="fa fa-file"></i>Conexão<span>SMTP</span></p> 
            <p class="content_info form-control" ><i class="fa fa-file"></i>Limite<span>5000 E-mail / Dia</span></p> 
            <p class="content_info form-control" ><i class="fa fa-mobile"></i>Acesso<span>Variáveis de ambiente</span></p> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hospedagem</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-desktop" style="margin-right:10px"></i>heroku</h6>
      <p class="card-text">Serviço heroku com VM<span class="badge bg-primary" style="margin-left:10px">Padrão</span></p>
      <a data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3" class="card-link" style="float: right;">detalhes</a> 
      <div class="collapse" id="collapseExample3" style="float: left;width: 100%;transition: all 0.4s ease 0s;margin-top:10px"> 
        <div class="card card-body">
          <div class="card-body"> 
            <p class="content_info form-control" ><i class="fa fa-link"></i>Homologação<span>www.intranetanoregce_homolação.org.br</span></p>
            <p class="content_info form-control" ><i class="fa fa-link"></i>Produção<span>www.intranetanoregce_produção.org.br</span></p>
            <p class="content_info form-control" ><i class="fa fa-desktop"></i>IP / PORT<span>321.519.849</span></p>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>  
  .content_info i{
    margin-right:10px;
    color: #0056c1;
  }
  .content_info span{
    word-wrap: break-word;
    float:right;
    color: #0056c1;
  }
</style>