<div class="container" style="padding-bottom: 115px !important;">
    <hr>
    <span class="letra_contato">A</span>
    <div class="contato" style="margin-top: 12px;"> 
        <div class="foto">
            <%= image_pack_tag('abner_contato.PNG', style: 'width: 32px;height: 32px;border: 1px solid #082c54c7;border-radius: 50px;' )%>
        </div>
        
        <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 100%;text-decoration: none !important;">
            <div class="nome_contato">
                <span >Ábner Medeiros Alencar Holanda</span>
                <span style="float: right;margin-top: -17px; padding-right: 10px;"><i class="fas fa-sort-down"></i></span>
            </div>
        </a>
    </div> 
    <div class="collapse" id="collapseExample" style="transition: all 0.5s ease 0s;">
        <div class="card card-body shadow p-3 mb-5 bg-white rounded" style="margin-top: 9px;margin-bottom: 0px !important;"> 
            <div class="form-group row" style="display:flex">
                <div style="width:100%">
                    <label  class="col-sm-2 col-form-label" >Função</label>
                    <div class="col-sm-10 correct-md-10" >
                        <input type="text" readonly class="form-control-plaintext input-show"  value="Gerente Financeiro">
                    </div>
                </div>
            </div>  
            <div class="form-group row" style="display:flex">
                <div style="width:100%">
                    <label  class="col-sm-2 col-form-label" >Telefone</label>
                    <div class="col-sm-10 correct-md-10" >
                        <input type="text" readonly class="form-control-plaintext input-show"  value="(85) 9 9863-0065">
                    </div>
                </div>
            </div>   
            <div class="form-group row" style="display:flex">
                <div style="width:100%">
                    <label  class="col-sm-2 col-form-label" >Email</label>
                    <div class="col-sm-10 correct-md-10" >
                        <input type="text" readonly class="form-control-plaintext input-show"  value="abner@anoregce.org.br">
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <hr>
    <span class="letra_contato">C</span>
    <div class="contato"  style="margin-top: 12px;">
        <div class="foto">
            <%= image_pack_tag('anoreg_contato.png', style: 'width: 32px;height: 32px;border: 1px solid #082c54c7;border-radius: 50px;' )%>
        </div>
        <a data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1" style="width: 100%;text-decoration: none !important;">
            <div class="nome_contato">
                <span >Call Center Anoreg-CE</span >
                <span style="float: right;margin-top: -4px; padding-right: 10px;"><i class="fas fa-sort-down"></i></span>
            </div>
        </a>
    </div> 
    <div class="collapse" id="collapseExample1" style="transition: all 0.5s ease 0s;">
        <div class="card card-body shadow p-3 mb-5 bg-white rounded" style="margin-top: 9px;margin-bottom: 0px !important;"> 
            <div class="form-group row" style="display:flex">
                <div style="width:100%">
                    <label  class="col-sm-2 col-form-label" >Função</label>
                    <div class="col-sm-10 correct-md-10" >
                        <input type="text" readonly class="form-control-plaintext input-show"  value="Suporte">
                    </div>
                </div>
            </div>  
            <div class="form-group row" style="display:flex">
                <div style="width:100%">
                    <label  class="col-sm-2 col-form-label" >Telefone</label>
                    <div class="col-sm-10 correct-md-10" >
                        <input type="text" readonly class="form-control-plaintext input-show"  value="(85) 3038-9496 - (85) 3038-9493">
                    </div>
                </div>
            </div>   
            <div class="form-group row" style="display:flex">
                <div style="width:100%">
                    <label  class="col-sm-2 col-form-label" >Email</label>
                    <div class="col-sm-10 correct-md-10" >
                        <input type="text" readonly class="form-control-plaintext input-show"  value="anoregce@anoregce.org.br">
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<style>
.input-show{
    background: #f8f9fa;
    border-radius: 2px;
    border: 1px solid #ededed;
    padding-left: 12px;
    padding-right: 12px;
}
  
.correct-md-10{
    max-width: 100%;
    width: 100%;
} 
.letra_contato{
    color: #cdcdcd;
}
.contato{
    display:flex;
    color: black;
}
.nome_contato{     
    color: black;
    margin-top: .5%;
    font-size: 19px;
}
.foto{
    align-self: center;
    padding-right: 12px;
}
  .col-sm-2{
    max-width: 100%;
    width: 100%;
  } 	
</style>