<div class="container"> 
    <h4>Olá <%= @nome_abrev%>.</h4>
    
    <p>
        Seu cadastro está em análise, aguarde o email de liberação para utilizar os nossos serviços.
        <br>
    <p styel="font-size:12px">
        Sinoredi – CE
        <br>
        Rua Walter Bezerra de Sá, 55 – Dionísio Torres.
        <br>
        CEP 60.135-225, Fortaleza – Ceará
        <br>
        (85) 3433.1340 / (85) 3433.2796
        <br>
        contato@sinoredice.org.br
    </p>
    </p>
</div> 