<%= javascript_pack_tag "events_edit", "data-turbolinks-track" => true  %>
<script src="https://unpkg.com/imask"></script> 
<div class="container" style="margin-bottom: 104px;">  
    <div class="page-header">
        <h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Evento</h1>      
    </div>
    <p>Editar evento N°: <%= @intranet_event.id %>.</p>  
    <%= render 'form', intranet_event: @intranet_event %> 
</div> 