<div class="container" style="margin-bottom: 7%;">
    <div class="page-header">
		<h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Editar privilégio</h1>      
	</div>
	<p>Edição do privilégio n°: <%= @intranet_privilegio.id %>.</p>
    <%= render 'form', intranet_privilegio: @intranet_privilegio  %>  
</div>