<div class="container" style="margin-bottom: 169px;">
    <div class="page-header">
		<h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Editar Aviso</h1>      
	</div>
	<p>Edição do aviso n°: <%= @intranet_aviso.id %>.</p>
    <%= render 'form', intranet_aviso: @intranet_aviso %> 
    <%= link_to @intranet_aviso do %>
        <button class="btn btn-secondary" style="float:left;margin-right:10px">Visualizar</button>
    <% end %>
    <%= link_to intranet_avisos_path do %>
        <button class="btn btn-secondary" style="float:left">Voltar</button>
    <% end %>
</div>