<div class="container">
    <h1>Adicionar aviso</h1>

    <%= render 'form', intranet_aviso: @intranet_aviso %>

    <%= link_to intranet_avisos_path do %>
        <button class="btn btn-secondary" style="float:left">Voltar</button>
    <% end %>
</div>