<h1>Olá, <%= @nome_abrev %></h1>

<p>
  Identificamos um problema no seu cadastro.<br> 
  Motivo: <b><%= @msg %></b><br>
  Efetue o cadastro novamente, atentando-se para os detalhes informados a cima, clique <a href="#">aqui</a> para se cadastrar novamente.
</p>
