<h1>New Intranet Financeiro Tipos Cobanca</h1>

<%= render 'form', intranet_financeiro_tipos_cobanca: @intranet_financeiro_tipos_cobanca %>

<%= link_to 'Back', intranet_financeiro_tipos_cobancas_path %>
