<div class="page-header">
    <h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Associados</h1>      
</div>
<p>Gerenciar associados do sistema.</p> 
<%= render 'form', intranet_associado: @intranet_associado %>

<%= link_to 'Back', intranet_associados_path %>
