<h1>Editing Intranet Contribuicao Importada</h1>

<%= render 'form', intranet_contribuicao_importada: @intranet_contribuicao_importada %>

<%= link_to 'Show', @intranet_contribuicao_importada %> |
<%= link_to 'Back', intranet_contribuicao_importadas_path %>
