<div class="container" style="margin-bottom: 7%;">
    <div class="page-header">
        <h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Atividade</h1>      
    </div>
    <p>Criar Nova Atividade.</p>  
    <%= render 'form', intranet_atividade: @intranet_atividade %> 
</div>