<script src="https://unpkg.com/imask"></script> 
<div class="container" style="margin-bottom: 104px;">  
    <div class="page-header">
        <h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Reunião</h1>      
    </div>
    <p>Editar Reunião N°: <%= @intranet_reunion.id %>.</p>  
    <%= render 'form', intranet_reunion: @intranet_reunion %> 
</div>