<h1>Editing Intranet Mala Diretum</h1>

<%= render 'form', intranet_mala_diretum: @intranet_mala_diretum %>

<%= link_to 'Show', @intranet_mala_diretum %> |
<%= link_to 'Back', intranet_mala_direta_path %>
