<%= javascript_pack_tag "boletos_new"  %>
<script src="https://unpkg.com/imask"></script> 

<div class="container" style="margin-bottom: 104px;">   
    <div class="page-header">
        <h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Cobrança</h1>      
    </div>
    <p>Criar Cobrança.</p>  
    
    <%= render 'form', intranet_boleto: @intranet_boleto %>
</div>