<h1>Editing Intranet Arquivos Tipo</h1>

<%= render 'form', intranet_arquivos_tipo: @intranet_arquivos_tipo %>

<%= link_to 'Show', @intranet_arquivos_tipo %> |
<%= link_to 'Back', intranet_arquivos_tipos_path %>
