
<div class="central_msgs">
  <% if resource.errors.any? %>
    <div id="error_explanation"> 
      <% resource.errors.full_messages.each do |message| %> 
        <div data-notify="container" class="col-11 col-sm-11 alert alert-danger alert-with-icon" role="alert" data-notify-position="top-right" style="margin: 0px auto;position: fixed;transition: all 0.5s ease-in-out 0s;z-index: 10;bottom: 77px;right: 16px;">
          
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float:right"></button>
          <span data-notify="icon" class="nc-icon nc-app"></span> 
          <span data-notify="title">Error:</span>
          <span data-notify="message"><%=message%></span>
          <a href="#" target="_blank" data-notify="url"></a>
        </div>
      <% end %> 
    </div>
  <% end %>
</div>

<style>
.central_msgs{
  position: fixed;
  z-index: 5;
  bottom: 56px;
  width: 100%; 
  justify-content: end; 
  margin: auto;
  display: block;
} 
</style>