.ul-links{
    padding: 0px    !important;
    margin:  0px    !important;
    list-style: none!important;
    margin-top: 7px !important;  
}
.ul-links ul{
    height: 24px;
}
.ul-links li{
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.lista:hover{   
    transition:0.5s;
    background-color: #fba571 !important;
}
.links-li:hover{

}
.links-li{
    font-weight: bold!important;
    font-size: 15px  !important; 
    color: white     !important;
    padding: 0px     !important;
    display:unset    !important;
}
.ul-link-icons{
    color: #ff6000;
    width: 18px;
    height: 23px;
    margin-bottom: 4px;
    margin-right: 12px;
}
.conta{
    color: white;
    font-weight: bold;
    height: 55px;
    margin-left: -13px;
    margin-top: 2px;
    width: 112px;

}
.nome{
    text-align: left;
    float: right;
    width: 185px;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid #ff8b4575;

}
.cpf{
    text-align: left;
    float: right;
    width: 182px;
    margin-top: -62px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}
.numero{
    text-align: left;
    float: right;
    width: 174px;
    margin-top: -38px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;

}
.help-plus{
    width: 23px;
    height: 23px;
}
.help-tel{
    width: 14px;
    height: 14px;
    margin-right: 7px;
    color: #ff6000;
}
.cart{
    width: 316px;
    margin-left: -10px;
    background: #ffb68a;
    font-size: 15px;
    margin-top: -38px;
    text-align: center;
    float: none;
    margin-bottom: 13px;
    border-bottom: 1px solid #ff8b4575;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ff6000;
    text-shadow: 1px 1px 2px white;
    height: 32px;
}
.dados-cliente{
    margin-top: -25px;
    height: 144px;
    background: #fba571;
    padding: 13px;
    width: 319px;
    margin: -5px; 
} 
.nav-menu{
    display: initial;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: -50px;
    list-style: none;
    z-index: 1;
} 
#minimize{ 
    background: rgba(0,0,0,0.77);
    width: 100%;
    height: 100%; 
    position: absolute;
    display: none;
    z-index: 3;
}
.icon-menu-left{
    float: left;
    color: white;
    width: 32px;
    height: 32px;
    margin: 8px; 
    margin-left: 10px;
}
.icon-menu-left-close{
    float: left;
    color: white;
    width: 46px;
    height: 46px;
    margin: 17px; 
    margin-left: 10px;
}
.icon-menu-right{
    float: right;
    color: white;
    width: 30px;
    height: 21px;
    margin: 9px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #ff8b45;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display:flex;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  width: 196px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav #closebtn {
    position: absolute;
    top: 20px;
    right: 23px;
    font-size: 45px; 
    color: white; 
    z-index: 9;
    width: 19px;
}
.top-nav{
    height: 48px;
    background: #ff8b45;
    text-align: center;
    padding: 1px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.footer {
    align-content: space-between;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff8b45;
    color: white;
    text-align: center;
    height: 70px;
    display:flex;
    z-index: 2;

}
.footer-btn{ 
    margin: auto;
    margin-top: 9px;
    margin-bottom: -1px;
    font-size: 33px;
}
.icons-menu-footer{ 
    padding: 3px; 
    padding-top: 0px;
    width: 98px;
}
.icons-menu-footer:hover{
    color:#ff6000;
    text-shadow: 0px 1px 1px #fbfbfb;
}
#ul-in-ul{
    display: none;
    height: auto;
    transition: 0.5s;
    background: #fba571;
    margin-left: -15px;
    padding-left: 0px;
    list-style: none;
} 
.li-in-ul{  
    color:white;
    margin-left: 0px;
}
.icon-ul-in-ul{
    float: right;
    margin-right: 10px;
    width: 12px;
    margin-top: 4px;
}
.li-in-ul p{margin-bottom: 3px !important;}
.li-in-ul:hover{  
    background: #ffb88c;
}
.propaganda{
    width: 100%;
    height: 313px;
    background-color: #fba571;
    margin-top: 10px; 
}
.propaganda img{
    width: 315px;
    height: 338px;
    background-color: #fba571;
}


.sidenav-right {
    height: 100%;
    width: 100%; 
    z-index: 4; 
    background: #ff8b45;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 
    display: none;
    right: 0;
    position: fixed;

  }
  
  .sidenav-right a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav-right a:hover {
    color: #f1f1f1;
  }
  
  .sidenav-right #closebtn-right { 
    font-size: 45px;
    color: white;
    z-index: 9;
    width: 19px; 
  }
.dot-1{
    margin-top: 24px;
    margin-left: 23px;
    border-radius: 9px;
    width: 13px;
    height: 13px;
    background: #ff8b45;
    position: absolute;cursor:pointer
}
.dot-2{
    margin-top: 26px;
    margin-left: 26px;
    border-radius: 9px;
    width: 9px;
    height: 9px;
    background: #5ace0a;
    position: absolute;
    z-index: 1;cursor:pointer
}
.nav-menu-right{
    display: initial;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: -51px;
    list-style: none;
    z-index: 2; 
} 
.notificacoes{
    color: white;
    font-weight: bold;
    height: 45px;
    margin-right: 34px;
    float: right;
}
.line-up-notify{
    width: 100%;
    height: 1px;
    background-color: #ff7520;
    margin-top: 8px;
}
.container-notify{
    margin-top: -15px;
    padding: 0px;
}
.container-notify li{
    background: #fba571;
}
.container-notify ul{
    padding: 0px;
}
.icon-notify{
    width: 45px;
    height: 45px;
    margin-left: -10px;
}
#btn-close-right{
    float: left;
text-align: left;
width: 100%;
margin-left: 19px;
margin-top: -39px;
}
.links-footer{
    text-decoration: none;
    color: white;
}
.links-footer:hover{
    text-decoration: none;
    color: white;
}
.central_msgs{
    position: fixed;
    z-index: 2;
    bottom: 56px;
    width: 100%;
    right: 0px;
    justify-content: end;
    display: flex;
}