<h1>Editing Intranet Contribuicao</h1>

<%= render 'form', intranet_contribuicao: @intranet_contribuicao %>

<%= link_to 'Show', @intranet_contribuicao %> |
<%= link_to 'Back', intranet_contribuicaos_path %>
