<div class="container" style="margin-bottom: 7%;">
    <div class="page-header">
		<h1 style="border-bottom: 1px solid #f8f9fa;margin-top: 3%;">Editar entrância</h1>      
	</div>
	<p>Edição da entrância n°: <%= @intranet_entrancium.id %>.</p>
    <%= render 'form', intranet_entrancium: @intranet_entrancium %>  
</div>