<%= link_to new_user_session_path, style:"text-decoration:none" do %>
    <div class="top-nav" id="top-nav"> 
        <h5 style="color: white;font-size: larger;padding-top: 10px;margin: auto;"> 
            <%= link_to root_path, style:"color:white" do %>
                <span style="float: left;margin-left: 8px;font-size: 20px;height: 21px;width: 25px;"><i class="fas fa-angle-left"></i></span>
            <% end %>
            <%= link_to user_session_path, style:"color:white;text-decoration:none" do %>
                <b>Anoreg-CE</b>
            <% end %>
            <%= link_to administrador_home_path, style:"color:white" do %>
                <span style="float: right;font-size: 20px;margin-right: 11px;"><i class="fas fa-user-lock"></i></i></span>
            <% end %>
        </h5>
    </div>
<% end %>  
<style>
.top-nav{
    height: 43px;
    background: #0b386b;
    text-align: center;
}
</style>