<%= link_to new_user_session_path, style:"text-decoration:none" do %>
    <div class="top-nav" id="top-nav"> 
        <h5 style="color: white;font-size: larger;padding-top: 10px;margin: auto;"><b>SINOREDI-CE</b> | Intranet</h5>
    </div>
<% end %>
<style>
.top-nav{
    height: 43px;
    background: #ff8b45;
    text-align: center;
}
</style>