<div class="top-nav" id="top-nav"> 
    <h5 style="color: white;font-size: larger;padding-top: 10px;margin: auto;"><b>SINOREDI-CE</b> | Intranet</h5>
</div>
<style>
.top-nav{
    height: 43px;
    background: #ff8b45;
    text-align: center;
}
</style>